@media only screen and (min-width: 64rem) {

nav button {display: none;}
nav{
    flex-direction: row;
}

nav ul#primaryNav {
    display: flex;
    justify-content: center;
    margin-left: 2vw;
   

}

nav ul li a {
    
    padding: .5rem 1rem;

}

}